body {
    background:
        linear-gradient(rgba(0, 0, 0, .70),
            rgba(0, 0, 0, .70)),
        url('https://t3.ftcdn.net/jpg/18/03/33/64/360_F_1803336455_ym9RfgcOtAzxKnLD5aM3uXgRTRBOz0vY.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HERO */
.hero {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px 20px;

    overflow: hidden;
}

/* CONTEÚDO */
.hero-content {
    position: relative;
    z-index: 5;

    max-width: 900px;

    text-align: center;
    color: white;
}

/* TEXTO */
.hero-content p {
    max-width: 700px;
    margin: auto;

    font-size: 24px;
    line-height: 1.8;

    opacity: .82;
    letter-spacing: 2px;
}

/* BOTÃO */
.hero-btn {
    margin-top: 50px;

    width: 280px;
    height: 70px;

    border: none;
    border-radius: 50px;

    background: rgba(0, 0, 0, .637);
    border: 1px solid rgba(255, 255, 255, .15);

    color: rgb(255, 255, 255);

    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;

    cursor: pointer;
    transition: .4s;
}

.hero-btn:hover {
    transform: translateY(-5px) scale(1.04);

    box-shadow:
        0 0 20px rgba(71, 48, 48, 0.25),
        0 0 60px rgba(255, 45, 45, 0.15);
}

/* BOTÃO VOLTAR */
.bnt {
    position: fixed;

    top: 20px;
    left: 20px;

    z-index: 1000;

    display: inline-block;

    padding: 14px 30px;

    border-radius: 50px;

    text-decoration: none;

    background: rgba(0, 0, 0, .637);
    border: 1px solid rgba(255, 255, 255, .15);

    color: white;

    letter-spacing: 3px;

    transition: .3s;

    backdrop-filter: blur(10px);
}

.bnt:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, .15);

    box-shadow: 0 0 20px rgba(255, 255, 255, .15);
}

body {
    animation: cinema 1.2s ease;
}

@keyframes cinema {
    from {
        opacity: 0;
        transform: scale(1.05);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

.main-title {
    animation: glow 2.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:
            0 0 15px white,
            0 0 30px rgba(255, 255, 255, .3);
    }

    to {
        text-shadow:
            0 0 30px white,
            0 0 70px red;
    }
}

.main-title {
    animation: glow 2.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:
            0 0 15px white,
            0 0 30px rgba(255, 255, 255, .3);
    }

    to {
        text-shadow:
            0 0 30px white,
            0 0 70px red;
    }
}

.main-title {
    animation: glow 2.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:
            0 0 15px white,
            0 0 30px rgba(255, 255, 255, .3);
    }

    to {
        text-shadow:
            0 0 30px white,
            0 0 70px red;
    }
}

.main-title {
    animation: glow 2.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:
            0 0 15px white,
            0 0 30px rgba(255, 255, 255, .3);
    }

    to {
        text-shadow:
            0 0 30px white,
            0 0 70px red;
    }
}

.nav-links a {
    transition: .35s;
}

.nav-links a:hover {

    transform:
        translateY(-6px) scale(1.05);

    box-shadow:
        0 0 15px rgba(255, 255, 255, .25),
        0 0 40px rgba(255, 0, 0, .25),
        0 0 80px rgba(255, 0, 0, .15);

    border: 1px solid rgba(255, 255, 255, .4);
}

.nav-links {

    background: rgba(0, 0, 0, .35);

    padding: 18px 30px;

    border-radius: 60px;

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, .1);

    box-shadow:
        0 0 25px rgba(255, 255, 255, .08);
}

/* ESTRELAS */
#stars {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    pointer-events: none;
}

/* CONTEÚDO NA FRENTE */
.hero {
    position: relative;
    z-index: 2;
}

.bnt {
    z-index: 3;
}

/* ENTRADA DA PÁGINA */
body {
    animation: fadePage 1s ease;
}

@keyframes fadePage {
    from {
        opacity: 0;
        transform: scale(1.03);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* BRILHO DO TÍTULO */
.hero-content h3 {
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px white;
    }

    to {
        text-shadow:
            0 0 20px white,
            0 0 45px rgba(255, 0, 0, .4);
    }
}